<div class=" landing-page">
  <h1>The learning platform</h1>
  <h3>A platform to learn, share and thrive</h3>

<div class="row">
  <div class="col-sm-12">
<div class="btns text-center">
  <button class="btn btn-primary" onclick="window.location.href='\main'">Start learning</button>
  <button class=" btn-transparent" onclick="window.location.href='\login'">Sign in</button>
  <button class="btn-transparent" >Be a teacher</button>
</div>
</div>
</div>
  </div>
